<footer
  class="mt-14 flex w-full justify-center px-10 py-5 duration-1000 lg:px-20"
>
  <nav class="flex w-full items-center justify-between">
    <ul>
      <li class="text-lg opacity-60 duration-300"><p> © 2023</p></li>
    </ul>

    <ul>
      <li
        ><a
          class="font-roboto-light text-lg opacity-60 duration-300 hover:opacity-100"
          href="/legal-notice"
          >Legal notice</a
        ></li
      >
    </ul>
  </nav>
</footer>
