<footer
  class="flex w-full px-10 mt-14 md:px-20 py-5 fade-in duration-1000 justify-center"
>
  <nav class="flex w-full justify-between items-center max-w-screen-2xl">
    <ul>
      <li class="fade-in duration-1000 opacity-60"> <p> © 2023</p></li>
    </ul>

    <ul>
      <li
        ><a
          class="fade-in duration-1000 opacity-60 hover:opacity-100 font-roboto-light"
          href="/legal-notice"
          >Legal notice</a
        ></li
      >
    </ul>
  </nav>
</footer>
