<footer class="flex w-full px-10 md:px-20 py-5 mt-10 fade-in duration-1000">
  <nav class="flex w-full justify-between">
    <ul>
      <li class="fade-in duration-1000 opacity-60">© 2023</li>
    </ul>
    <ul>
      <li
        ><a
          class="fade-in duration-1000 opacity-60 hover:opacity-100"
          href="/legal-notice"
          >Legal notice</a
        ></li
      >
    </ul>
  </nav>
</footer>
