<header
  class="z-50 mt-11 px-10 w-full md:px-20 animate-in fade-in duration-1000"
>
  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-bold opacity-80 hover:opacity-100">
      <a href="/">David.</a>
    </h1>
  </div>
</header>
