<header class="fixed z-50 mt-11 px-10 w-full md:px-20">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-bold underlines hover:opacity-100">
      <a href="/">David.</a>
    </h1>
  </div>
</header>
