---
import Layout from "../components/layout/layout.astro";
---

<Layout
  footer={false}
  header
  title="Page not Found"
>
  <main
    class="flex items-center justify-center min-h-screen animate-in fade-in duration-1000"
  >
    <div class="mx-10 text-left">
      <h1 class="text-4xl">Page not Found</h1>
      <p class="my-3 text-xl"
        >Sorry, we couldn't find the page you were looking for.</p
      >
      <a
        class="text-xl font-outfit-medium opacity-80 hover:opacity-100"
        href="/"
        >Go back to the home page</a
      >
    </div>
  </main>
</Layout>
