---
import Layout from "../components/layout/layout.astro";
---

<Layout
  header
  title="David von Garrel"
>
  <main class="flex flex-col pt-48">
    <section class="flex text-5xl justify-center pt-40 items-center">
      <h1 class="font-bold text-center px-10 max-w-4xl">
        I'm <span class="text-blue-600">David</span>. I will create a design
        that can give value to your business.
      </h1>
    </section>

    <section class="w-full bg-blue-950 text-white mt-56 pb-40">
      <div
        class="flex w-full space-x-32 px-10 justify-center mt-12 items-center"
      >
        <div class="flex flex-row items-center">
          <img
            alt="c#"
            class="h-16"
            src="/csharp.svg"
          />
          <div class="flex flex-col ml-2 justify-center">
            <strong class="font-bold text-2xl">C#</strong>
            <span class="text-gray-400">3 Year's Experience</span>
          </div>
        </div>
        <div class="flex flex-row items-center">
          <img
            alt="javascript"
            class="h-16"
            src="/javascript.svg"
          />
          <div class="flex flex-col ml-2 justify-center">
            <strong class="font-bold text-2xl">Javascript</strong>
            <span class="text-gray-400">2 Year's Experience</span>
          </div>
        </div>
        <div class="flex flex-row items-center">
          <img
            alt="python"
            class="h-16"
            src="/python.svg"
          />
          <div class="flex flex-col ml-2 justify-center">
            <strong class="font-bold text-2xl">Python</strong>
            <span class="text-gray-400">2 Year's Experience</span>
          </div>
        </div>
      </div>
    </section>

    <section class="flex w-full justify-center -mt-24">
      <div
        class="w-10/12 max-w-5xl items-center px-10 bg-blue-600 rounded-lg py-10"
      >
        <div class="flex w-full justify-center">
          <h1 class="text-white text-4xl text-center font-bold max-w-3xl">
            Want to work together and create amazing projects with me?
          </h1>
        </div>

        <div class="flex w-full justify-center mt-10">
          <a
            class="flex bg-white rounded-3xl px-10 py-3 text-black font-bold"
            href="/mail"
          >
            <img
              alt="send"
              class="h-6 mr-2 justify-center"
              src="../../public/send.svg"
            />

             Contact me
          </a>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-3xl font-bold text-center mt-10 px-10">
        I'm a <span class="text-blue-600">UI/UX Designer</span> and{" "}
        <span class="text-blue-600">Fullstack Developer</span> from Germany.
      </h2>
    </section>
  </main>
</Layout>
