---
import Layout from "../components/layout/layout.astro";
---

<Layout
  footer
  header
  title="David von Garrel"
>
  <main class="flex flex-col pt-36">
    <img
      alt="david"
      class="flex absolute right-0 top-5 h-40 md:hidden"
      src="/david_small.png"
    />

    <section class="flex text-5xl justify-center pt-20 items-center">
      <h1
        class="font-bold text-left px-10 max-w-4xl animate-in fade-in duration-1000 -tracking-wide"
      >
        I'm <span class="text-blue-600">David</span>. I will create a design
        that can give value to your business.
      </h1>
    </section>

    <img
      alt="david"
      class="absolute hidden md:flex md:right-0 md:h-96 md:top-28 -z-10"
      src="/david_big.png"
    />

    <section class="w-full bg-blue-950 text-white mt-40 pb-40 h-full">
      <div
        class="flex mt-12 text-center justify-center animate-in fade-in duration-1000"
      >
        <h1 class="text-2xl rounded-lg px-5 font-bold bg-red-500">Techstack</h1>
      </div>
      <div
        class="flex px-10 mt-5 animate-in fade-in duration-1000 w-full justify-center"
      >
        <div class="flex flex-row flex-wrap max-w-2xl">
          <img
            alt="csharp"
            class="h-20 mx-3 my-2"
            src="/csharp.svg"
          />

          <img
            alt="javascript"
            class="h-20 mx-5 my-2"
            src="/javascript.svg"
          />

          <img
            alt="ts"
            class="h-20 mx-5 my-2"
            src="/ts.svg"
          />

          <img
            alt="python"
            class="h-20 mx-5 my-2"
            src="/python.svg"
          />

          <img
            alt="react"
            class="h-20 mx-5 my-2"
            src="/react.svg"
          />

          <img
            alt="astro"
            class="h-20 mx-5 my-2"
            src="/astro.svg"
          />

          <img
            alt="tailwind"
            class="h-20 mx-5 my-2"
            src="/tailwind.svg"
          />

          <img
            alt="git"
            class="h-20 mx-5 my-2"
            src="/git.svg"
          />

          <img
            alt="vscode"
            class="h-20 mx-5 my-2"
            src="/vscode.svg"
          />
        </div>
      </div>
    </section>

    <section class="flex w-full justify-center -mt-24">
      <div
        class="w-10/12 max-w-5xl items-center px-10 bg-blue-600 rounded-lg py-10"
      >
        <div class="flex w-full justify-center">
          <h1
            class="text-white text-4xl text-Left font-bold max-w-3xl animate-in fade-in duration-1000 -tracking-wide"
          >
            Want to work together and create amazing projects with me?
          </h1>
        </div>

        <div class="flex w-full justify-center mt-10">
          <a
            class="flex bg-white rounded-3xl px-10 py-3 text-black font-bold items-center hover:bg-gray-300 transition-all animate-in fade-in in duration-1000"
            href="/mail"
          >
            <img
              alt="send"
              class="h-6 mr-2 leading-10"
              src="/send.svg"
            />

             Contact me
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
