---
import Layout from "../components/layout/layout.astro";
---

<Layout
  header
  title="David von Garrel"
>
  <main class="flex flex-col pt-16">
    <img
      alt="david"
      class="flex absolute right-0 top-5 h-40 md:hidden"
      src="/david_small.png"
    />

    <section class="flex text-5xl justify-center pt-20 items-center">
      <h1
        class="font-bold text-left px-10 max-w-4xl animate-in fade-in duration-1000"
      >
        I'm <span class="text-blue-600">David</span>. I will create a design
        that can give value to your business.
      </h1>
    </section>

    <img
      alt="david"
      class="absolute hidden md:flex md:right-0 md:h-96 md:top-28 -z-10"
      src="/david_big.png"
    />

    <section class="w-full bg-blue-950 text-white mt-40 pb-40 h-full">
      <div
        class="flex flex-col space-y-12 px-10 mt-12 items-center md:space-y-0 md:flex-row md:space-x-32 justify-center animate-in fade-in duration-1000"
      >
        <div class="flex flex-col items-center md:flex-row">
          <svg
            class="w-12 h-12 md:w-16 md:h-16"
            fill="#FFFFFF"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>C Sharp</title><path
              d="M12 0A12 12 0 000 12a12 12 0 0012 12 12 12 0 0012-12A12 12 0 0012 0zM9.426 7.12a5.55 5.55 0 011.985.38v1.181a4.5 4.5 0 00-2.25-.566 3.439 3.439 0 00-2.625 1.087 4.099 4.099 0 00-1.012 2.906 3.9 3.9 0 00.945 2.754 3.217 3.217 0 002.482 1.023 4.657 4.657 0 002.464-.634l-.004 1.08a5.543 5.543 0 01-2.625.555 4.211 4.211 0 01-3.228-1.297 4.793 4.793 0 01-1.212-3.409 5.021 5.021 0 011.365-3.663 4.631 4.631 0 013.473-1.392 5.55 5.55 0 01.12-.004 5.55 5.55 0 01.122 0zm5.863.155h.836l-.555 2.652h1.661l.567-2.652h.81l-.555 2.652 1.732-.004-.15.697H17.91l-.412 1.98h1.852l-.176.698h-1.816l-.58 2.625h-.83l.567-2.625h-1.65l-.555 2.625h-.81l.555-2.625h-1.74l.131-.698h1.748l.401-1.976h-1.826l.138-.697h1.826zm.142 3.345L15 12.6h1.673l.423-1.98z"
            ></path></svg
          >

          <div class="flex flex-col mt-2 md:ml-2 text-center md:text-left">
            <strong class="font-bold text-2xl">C#</strong>
            <span class="text-gray-400">3 Year's Experience</span>
          </div>
        </div>
        <div class="flex flex-col items-center md:flex-row">
          <svg
            class="w-12 h-12 md:w-16 md:h-16"
            fill="#808080"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>JavaScript</title><path
              d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z"
            ></path></svg
          >
          <div class="flex flex-col mt-2 md:ml-2 text-center md:text-left">
            <strong class="font-bold text-2xl">Javascript</strong>
            <span class="text-gray-400">2 Year's Experience</span>
          </div>
        </div>
        <div class="flex flex-col items-center md:flex-row">
          <svg
            class="w-12 h-12 md:w-16 md:h-16"
            fill="#808080"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Python</title>
            <path
              d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09zm13.09 3.95l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.02-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.04-.84.01-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.1.3-.06.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.33.33.23.41.08.41-.08.33-.23.23-.33.08-.41-.08-.41-.23-.33-.33-.23-.41-.08-.41.08z"
            ></path>
          </svg>

          <div class="flex flex-col mt-2 md:ml-2 text-center md:text-left">
            <strong class="font-bold text-2xl">Python</strong>
            <span class="text-gray-400">2 Year's Experience</span>
          </div>
        </div>
      </div>
    </section>

    <section class="flex w-full justify-center -mt-24">
      <div
        class="w-10/12 max-w-5xl items-center px-10 bg-blue-600 rounded-lg py-10"
      >
        <div class="flex w-full justify-center">
          <h1
            class="text-white text-4xl text-Left font-bold max-w-3xl animate-in fade-in duration-1000"
          >
            Want to work together and create amazing projects with me?
          </h1>
        </div>

        <div class="flex w-full justify-center mt-10">
          <a
            class="flex bg-white rounded-3xl px-10 py-3 text-black font-bold items-center hover:bg-gray-200 transition-all animate-in fade-in in duration-1000 delay-100"
            href="/mail"
          >
            <img
              alt="send"
              class="h-6 mr-2"
              src="/send.svg"
            />

             Contact me
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
