---
import Layout from "../components/layout/layout.astro";
---

<Layout
  header
  title="David von Garrel"
>
  <main class="flex flex-col pt-20">
    <section class="flex text-5xl justify-center pt-32 items-center">
      <h1 class="font-bold text-center px-10 max-w-4xl">
        I'm <span class="text-blue-600">David</span>. I will create a design
        that can give value to your business.
      </h1>
    </section>

    <section class="w-full bg-blue-950 text-white mt-40 pb-40">
      <div
        class="flex flex-col space-y-12 px-10 mt-12 items-center md:space-y-0 md:flex-row md:space-x-32 justify-center"
      >
        <div class="flex flex-col items-center md:flex-row">
          <img
            alt="c#"
            class="h-16"
            src="/csharp.svg"
          />
          <div class="flex flex-col mt-2 md:ml-2">
            <strong class="font-bold text-2xl">C#</strong>
            <span class="text-gray-400">3 Year's Experience</span>
          </div>
        </div>
        <div class="flex flex-col items-center md:flex-row">
          <img
            alt="javascript"
            class="h-16"
            src="/javascript.svg"
          />
          <div class="flex flex-col mt-2 md:ml-2">
            <strong class="font-bold text-2xl">Javascript</strong>
            <span class="text-gray-400">2 Year's Experience</span>
          </div>
        </div>
        <div class="flex flex-col items-center md:flex-row">
          <img
            alt="python"
            class="h-16"
            src="/python.svg"
          />
          <div class="flex flex-col mt-2 md:ml-2">
            <strong class="font-bold text-2xl">Python</strong>
            <span class="text-gray-400">2 Year's Experience</span>
          </div>
        </div>
      </div>
    </section>

    <section class="flex w-full justify-center -mt-24">
      <div
        class="w-10/12 max-w-5xl items-center px-10 bg-blue-600 rounded-lg py-10"
      >
        <div class="flex w-full justify-center">
          <h1 class="text-white text-4xl text-center font-bold max-w-3xl">
            Want to work together and create amazing projects with me?
          </h1>
        </div>

        <div class="flex w-full justify-center mt-10">
          <a
            class="flex bg-white rounded-3xl px-10 py-3 text-black font-bold items-center"
            href="/mail"
          >
            <img
              alt="send"
              class="h-6 mr-2"
              src="/send.svg"
            />

             Contact me
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
