---
import Layout from "../components/layout/layout.astro";
---

<Layout
  footer
  header
  showNavbar={false}
  title="Legal notice"
>
  <main class="flex w-full flex-col items-center justify-center pt-32">
    <div class="mx-10 max-w-4xl animate-fade-down px-10 duration-1000">
      <section class="pt-5">
        <h2 class="mb-3 text-3xl"> Legal Notice.</h2>
        <h3 class="mb-2 text-2xl">
          Information provided according to Sec. 5 German Telemedia Act (TMG):
        </h3>
        <address class="mb-3 font-roboto-light text-xl leading-6">
          David von Garrel<br />
           Magnolienweg 18a<br />
           26169 Friesoythe<br />
           Germany
        </address>
        <h3 class="mb-2 text-2xl"> Contact:</h3>

        <address class="text-xl">
          E-Mail:
          <a
            class="cursor-pointer underline decoration-gray-400 decoration-from-font underline-offset-4 duration-300 hover:decoration-black"
            href="/mail"
          >
            contact@davq.de
          </a>
        </address>
      </section>
      <section class="mt-24">
        <h2 class="mb-3 inline-block text-3xl"> Disclaimer.</h2>

        <h3 class="mb-2 text-2xl"> Liability for Contents</h3>
        <p class="text-justify text-xl">
          As service providers, we are liable for own contents of these websites
          according to Sec. 7, Typography 1 German Telemedia Act (TMG). However,
          according to Sec. 8 to 10 German Telemedia Act (TMG), service
          providers are not obligated to permanently monitor submitted or stored
          information or to search for evidences that indicate illegal
          activities.
        </p>
        <p class="mt-2 text-justify text-xl">
          Legal obligations to removing information or to blocking the use of
          information remain unchallenged. In this case, liability is only
          possible at the time of knowledge about a specific violation of law.
          Illegal contents will be removed immediately at the time we get
          knowledge of them.
        </p>
        <h2 class="mb-1 mt-6 text-2xl"> Liability for Links</h2>
        <p class="text-justify text-xl">
          Our offer includes links to external third-party websites. We have no
          influence on the contents of those websites; therefore, we cannot
          guarantee for those contents. Providers or administrators of linked
          websites are always responsible for their own contents.
        </p>
        <p class="mt-2 text-justify text-xl">
          The linked websites had been checked for possible violations of law at
          the time of the establishment of the link. Illegal contents were not
          detected at the time of the linking. A permanent monitoring of the
          contents of linked websites cannot be imposed without reasonable
          indications that there has been a violation of law. Illegal links will
          be removed immediately at the time we get knowledge of them.
        </p>
        <h3 class="mb-1 mt-6 text-2xl"> Copyright</h3>
        <p class="text-justify text-xl">
          Contents and compilations published on these websites by the providers
          are subject to German copyright laws. Reproduction, editing,
          distribution as well as the use of any kind outside the scope of the
          copyright law require a written permission of the author or
          originator. Downloads and copies of these websites are permitted for
          private use only.
        </p>
        <p class="mt-2 text-justify text-xl">
          The commercial use of our contents without permission of the
          originator is prohibited.
        </p>
        <p class="mt-2 text-justify text-xl">
          Copyright laws of third parties are respected as long as the contents
          on these websites do not originate from the provider. Contributions of
          third parties on this site are indicated as such. However, if you
          notice any violations of copyright law, please inform us. Such
          contents will be removed immediately.
        </p>
      </section>
    </div>
  </main>
</Layout>
